* {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  border: 1px solid black;
  padding: 30px;
}

h1 {
  display: flex;
  place-content: center;
}

article {
  border: 1px solid black;
  margin: 20px;
  transition: 0.8s;
}

footer {
  border: 1px solid black;
  display: flex;
  place-content: center;
  padding: 30px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

main {
  max-width: 1000px;
  margin: auto;
}

span {
  color: blue;
}

.shadow {
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.64);
}
